<div class="p-3 bg-body-tertiary sidebar-h border-end">
    <div class="p-2 bg-secondary text-left border rounded-2">
        <a routerLink="" class="text-white link-offset-2 link-underline link-underline-opacity-0">Dashboard</a>
    </div>
    <div class="mt-4 mx-2">
        <div class="mt-4 ">
            <a routerLink="" class="text-dark link-offset-2 link-underline link-underline-opacity-0">Product</a>
        </div>
        <div class="mt-4 ">
            <a routerLink="" class="text-dark link-offset-2 link-underline link-underline-opacity-0">Timeline</a>
        </div>
        <div class="mt-4 ">
            <a routerLink="" class="text-dark link-offset-2 link-underline link-underline-opacity-0">Vendors</a>
        </div>
        <div class="mt-4 ">
            <a routerLink="" class="text-dark link-offset-2 link-underline link-underline-opacity-0">Banking</a>
        </div>
        <div class="mt-4 ">
            <a routerLink="" class="text-dark link-offset-2 link-underline link-underline-opacity-0">Settings</a>
        </div>
    </div>
</div>